* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: black;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
ul{
    padding-left: 0px !important;
}

.nav1 img {
    width: 62%;
    margin-bottom: 5%;
}

.nav2 h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}
.drop{
        position: relative;
        display: inline-block;
        cursor: pointer;
        transition: all ease 0.5s;

}
.drop:hover{
    text-decoration: underline red;
}
.drop-h{
   padding:0 35px;
    font-size:1.2vw;
}
.drop-h:hover{
    color: rgb(132, 6, 6);
}
.dropdown-content{
    z-index: 1;
    display: none;
    position: absolute;
    width: 150%;
    text-align: center;
    right: 30%;
  
}
.dropdown-content li, .dropdown-content2 li, .dropdown-content3 li {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: rgba(0, 0, 0, 0.5);
    display: block;
    border-bottom: 1px solid rgb(98, 98, 98);
    padding-bottom: 12px;
    padding-top: 9px;
    font-size: 15px;
}
.dropdown-content li:nth-child(5){
           border-bottom: 0px;
}
.drop:hover .dropdown-content {
    display: block;
}

.dropdown-content li:hover {
    background-color: rgb(180, 20, 20);
}
.dropdown-content2 li:nth-child(6){
    border-bottom: 0px;
}
.drop:hover .dropdown-content2 {
    display: block;
}
.dropdown-content2 li:hover {
    background-color: rgb(180, 20, 20);
}
.dropdown-content2,.dropdown-content3 {
    z-index: 1;
    display: none;
    position: absolute;
    width: 110%;
    text-align: center;
    right: 30%;
  
}
.dropbtn{
    background-color: rgb(180, 20, 20);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    font-weight: bold;
    color: rgb(216, 216, 216);
    margin-bottom: 5px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 50px;
}
.dropbtn:hover{
    box-shadow: 0px 0px 5px red;
}
.drop:hover .dropdown-content3 {
    display: block;
}
.dropdown-content3 li:hover {
    background-color: rgb(180, 20, 20);
}
.dropdown-content3 li:nth-child(2){
    border-bottom: 0px;
}
.part1{
    width: 100%;
    height: 100vh;
}
.part1 video{
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.part1-con{
    position: absolute;
   top: 35%;
   margin-left: 5%;
   background-color: rgba(0, 0, 0, 0.5);
   width: 37%;
   height: 37%;
}
.part1-con h1{
    color: white;
    font-weight: 700;
    max-width: 20ch;
    letter-spacing: -1px;
    font-size: 2.7vw;
    margin: 4% 4%;
}
.part1-con button{
    border: 0;
    background-color: rgb(190, 4, 4);
    color: white;
    padding: 8px 15px;
    margin: 0 5%;
}
.part1-con button:hover{
    box-shadow: 0px 0px 5px red;
}
.part2{
    margin-bottom: 5%;
}
.cardo p{
    color: white;
    font-weight: 700;
    font-size: 22px;
}
.cardo:hover{
    cursor: pointer;
}
.part3{
  height: 100vh;
  width: 100%;
  margin-bottom: 10%;
}
.part3 video{
    width: 100%;
    height: 100%;
}
.part3-con p:nth-child(1){
    border-bottom: 1px solid red;
}
.part3-con p:nth-child(2){
  margin-bottom: 10px;
}
.part3-con{
   position: relative;
   bottom: 90%;
   background-color: rgba(0, 0, 0, 0.5);
   width: 55ch;
   padding: 3% 1%;
   color: white;   
   margin-left: 13%;
}
.part3-con h2{
    font-weight: 700;
    margin-bottom: 15px;
}
.part3-con button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
}
.part3-con button:hover{
    background-color: rgb(213, 0, 0);
    box-shadow: 0px 0px 5px red;
    border: 0;
}
.part4{
    width: 100%;
    height: 100vh;
    color: white;
    margin-bottom: 8%;
}
.part5{
    width: 100%;
    height: 100vh;
    color: white;
    margin-bottom: 8%;
}
.part4 img, .part5 img{
    width: 100%;
}
.part4-con h2, .part5-con h2{
    margin-bottom: 5%;
}
.part4-con p, .part5-con p{
    margin-bottom: 4%;
}
.part4-con{
    padding-top: 15%;
}
.part5-con{
    padding-top: 15%;
}
.part4-con button, .part5-con button{
    border: 0;
    background-color: rgb(190, 4, 4);
    color: white;
    padding: 8px 15px;

}
.part4-con button:hover, .part5-con button:hover{
    box-shadow: 0px 0px 8px red;
}
.part6{
    background: url('./Assets/gt.jpeg');
    width: 90%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4%;
    margin-right: 3%;
    margin-bottom: 8%;
    color: white;
}

.part6-con{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 40%;
    margin-left: 3%;
    padding-left: 5%;
}
.part6-con p:nth-child(1){
    padding-top: 15%;
}
.part6-con p:nth-child(2){
    padding-top: 10%;
    padding-bottom: 5%;
   width: 65%;
   font-size: 15px;

}
.part6-con hr{
    width: 10%;
    color: red;
}
.part6-con h2{
    font-weight: 900;
    letter-spacing: -1px;
}
.btn-red{
    border: 0;
    background-color: rgb(190, 4, 4);
    color: white;
    padding: 6px 18px;
    margin-bottom: 10%;
}
.btn-red:hover{
    box-shadow: 0px 0px 5px red;
}
.part7{
    width: 100%;
    height: 50vh;
    color: white;
    margin-bottom: 10%;
}
.part8{
    width: 100%;
    height: 50vh;
    color: white;
    margin-bottom: 15%;
}
.part8-con{
    padding-top: 5%;
}
.part7 img, .part8 img{
    width: 100%;
}
.part7-con h2,.part8-con h2{
    margin-bottom: 5%;
}
.part7-con p,.part8-con p{
    margin-bottom: 4%;
}
.part7-con hr,.part8-con hr{
    border: 1.5px solid red;
    width: 10%;
}
.part9{
    width: 100%;
    height: 90vh;
}
.part9 h2{
 font-size: 24px;
 font-weight: 700;
 padding-bottom: 5%;
}
.part9 h2:nth-child(3){
    width: 120%;
}
.part9 .card-text{
    width: 105%;
    font-size: 15px;
}
.part10{
    background: url('./Assets/news.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100vh;
    margin-left: 5%;
    margin-bottom: 10%;
    color: white;
}
.part10-con{
     padding-top: 5%;
   width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.part10 p{
    width: 35ch;
}

.part10 h2{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 15%;
}
.part10 hr{
    color: red;
    border: 1.5px solid;
    width: 10%;

}
.part11{
    width: 100%;
    height: 50vh;
    color: white;
    margin-bottom: 16%;
}
.part11 img{
    width: 100%;
    border: 1px solid grey;
}
.part11::before{
    content: "Jun 12";
    font-weight: bold;
    background-color: white;
    position: absolute;
    height: 10%;
    width: 3%;
    font-size: 16px;
    left: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
}
.part11-con h2{
    margin-bottom: 5%;
}
.part11-con p{
    margin-bottom: 4%;
}
.part11-con hr{
    border: 1.5px solid red;
    width: 10%;
}
.part12{
    width: 100%;
    height: 100vh;
    color: white;
}
.part12 h1{
    margin-left: 5%;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 4%;
}
.part12{
    width: 100%;
    height: 90vh;
}
.part12 h2{
 font-size: 24px;
 font-weight: 700;
 padding-bottom: 5%;
}

.part12 .card-text{
    width: 105%;
    font-size: 13px;
}
.part12 button{
  margin-left: 40%;
  margin-top: 5%;
}
@media screen and (max-width:768px){
    nav{
        padding-right: 0;
    }
    .nav1 img{
        width: 80%;
        margin-bottom: 4%;
    }
    .nav2{
        display: flex;
    }
    .drop-h{
        padding:0 19px;
         font-size: 12px;
     }
     .part1-con{
        position: absolute;
        top: 46%;
        margin-left: 3%;
        background-color: rgba(0, 0, 0, 0.5);
        width: 37%;
        height: 15%;
    }
    .part3-con {
        position: relative;
        bottom: 30%;
        background-color: rgba(0, 0, 0, 0.5);
        width: 35ch;
        padding: 0% 1%;
        color: white;
        margin-left: 14%;
    }
    .part4{
        margin-top: 45%;
    }
    .part6{
        margin-top: 40%;
    }
    .part8{
        margin-top: 65%;
    }
    .part9{
        margin-top: 80%;
    }
    .part9 .card {
       width: 20rem;
       margin: 0px 5%;
    }
    .part10{
        margin-top: 195%;
    }
    .part10 p {
        width: 15ch;
    }
    .part10 h2{
        font-size: 23px;
    }
    .part10 p{
        font-size: 3vw;
    }
    .part10-con{
        padding-top: 0%;
    }
    .btn-red{
        padding: 3px 12px;
    }
    .part11{
        margin-top: 24%;
    }
    .part12{
        margin-top: 70%;
    }
}